:root {
  /* Design Tokens */
  --primary-color: #003b5c;
  --secondary-color: #005a7a;
  --text-color: #003b5c;
  --background-color: #ffffff;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --border-radius: 12px;
  --transition-speed: 0.3s;
}

/* Logo */
.page-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: auto;
  border-radius: var(--border-radius);
}

/* Container (used for both login and signup) */
.login-container, .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Box (used for both login and signup) */
.login-box, .signup-box {
  width: 350px;
  padding: 30px;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: black;
  position: relative;
}

/* Title (used for both login and signup) */
.login-box h2, .signup-box h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

/* Input container */
.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Icon */
.icon {
  position: absolute;
  left: 12px;
  color: gray;
  font-size: 18px;
}

/* Input */
.input-container input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.input-container input::placeholder {
  color: #aaa;
}

/* Button (used for both login and signup) */
.login-form button, .signup-form button {
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form button:hover, .signup-form button:hover {
  background: var(--secondary-color);
}

/* Link (used for both login and signup) */
.signup-link, .login-link {
  margin-top: 15px;
  font-size: 14px;
  color: var(--secondary-color);
}

.signup-link a, .login-link a {
  color: var(--text-color) !important;
  text-decoration: none;
}

.signup-link a:hover, .login-link a:hover {
  text-decoration: underline;
}

/* Error message */
.error-message {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 0px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message svg {
  margin-right: 8px;
}

/* Icon container */
.icon-container {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding-bottom: 3px;
  border-radius: 100%;
}

/* User icon */
.user-icon {
  font-size: 60px;
  color: gray;
  padding: 8px;
}